<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<h1>Flask Demo App</h1>

{% for message in get_flashed_messages() %}
  <h2>{{ message }}</h2>
{% endfor %}

<form action="about" method="post" enctype="multipart/form-data">

  <label for="profile_picture">Profile Picture</label>
  <input type="file" name="profile_picture" accept=".jpg,.jpeg,.png" value="" required><br>

  <label for="first_name">First Name</label>
  <input type="text" name="first_name" value="" required><br>

  <label for="last_name">Last Name</label>
  <input type="text" name="last_name" value="" required><br>

  <label for="age">Age</label>
  <input type="number" name="age" value="" required><br>

  <label for="phone_number">Phone Number</label>
  <input type="number" name="phone_number" value="" required><br>

  <label for="email">Email</label>
  <input type="email" name="email" value="" required><br>

  <label for="street_name">Street Name</label>
  <input type="text" name="street_name" value="" required><br>

  <label for="city">City</label>
  <input type="text" name="city" value="" required><br>

  <label for="state">State</label>
  <input type="text" name="state" value="" required><br>

  <label for="zip_code">Zip Code</label>
  <input type="number" name="zip_code" value="" required><br>

  <input type="submit" value="Create User">
</form>

</body>
</html>