{% extends 'base.html' %}

{% block title %}Flask Demo App{% endblock %}

{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li style="color: red;">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="text-center">
        <p>This app is using Oauth to perform Single Sign On using Gmail and Github.
            The app is using Postgres DB to store and retrieve user information</p>
    </div>

    <div class="tab-pane fade show active" role="tabpanel" aria-labelledby="tab-login">
        <form>
            <div class="text-center mb-3">
                <p>Sign in with:</p>

                <a href="{{ url_for('google_login') }}">
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-google"></i>
                    </button>
                </a>

                <a href="{{ url_for('github_login') }}">
                    <button type="button" class="btn btn-link btn-floating mx-1">
                        <i class="fab fa-github"></i>
                    </button>
                </a>
            </div>

            <!-- Register buttons -->
            <div class="text-center">
                <p>Not a member? <a href="{{ url_for('create_user') }}">Register</a></p>
            </div>
        </form>
    </div>
{% endblock %}}
